@font-face {
    font-family: 'seti';
    src: url('../fonts/seti.eot');
    src: url('../fonts/seti.eot?#iefix') format('eot'),
        url('../fonts/seti.woff2') format('woff2'),
        url('../fonts/seti.woff') format('woff'),
        url('../fonts/seti.ttf') format('truetype'),
        url('../fonts/seti.svg#seti') format('svg');
        font-weight: normal;
        font-style: normal;
}

