[class*="icon-"]:before {
    font-family: 'seti';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: color(blue);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;

    font-size: 1.1rem;
    position: relative;
    top: 1px;
}

$icons: (
    apple: '\E001',
    audio: '\E002',
    bower: '\E003',
    c-sharp: '\E004',
    c: '\E005',
    cake_php: '\E006',
    checkbox-unchecked: '\E007',
    checkbox: '\E008',
    cjsx: '\E009',
    clock: '\E00A',
    coffee: '\E00B',
    coffee_erb: '\E00C',
    coldfusion: '\E00D',
    config: '\E00E',
    cpp: '\E00F',
    css: '\E010',
    csv: '\E011',
    default: '\E012',
    deprecation-cop: '\E013',
    docker: '\E014',
    editorconfig: '\E015',
    ejs: '\E016',
    elm: '\E017',
    error: '\E018',
    favicon: '\E019',
    folder: '\E01A',
    font: '\E01B',
    git_folder: '\E01C',
    git_ignore: '\E01D',
    github: '\E01E',
    go: '\E01F',
    go2: '\E020',
    gradle: '\E021',
    grails: '\E022',
    grunt: '\E023',
    gulp: '\E024',
    hacklang: '\E025',
    haml: '\E026',
    haskell: '\E027',
    heroku: '\E028',
    html: '\E029',
    html_erb: '\E02A',
    ignored: '\E02B',
    illustrator: '\E02C',
    image: '\E02D',
    info: '\E02E',
    ionic: '\E02F',
    jade: '\E030',
    java: '\E031',
    javascript: '\E032',
    js_erb: '\E033',
    json: '\E034',
    julia: '\E035',
    karma: '\E036',
    less: '\E037',
    license: '\E038',
    liquid: '\E039',
    livescript: '\E03A',
    lua: '\E03B',
    markdown: '\E03C',
    mustache: '\E03D',
    new-file: '\E03E',
    npm: '\E03F',
    npm_ignored: '\E040',
    ocaml: '\E041',
    pdf: '\E042',
    perl: '\E043',
    photoshop: '\E044',
    php: '\E045',
    project: '\E046',
    pug: '\E047',
    puppet: '\E048',
    python: '\E049',
    rails: '\E04A',
    react: '\E04B',
    ruby: '\E04C',
    rust: '\E04D',
    sass: '\E04E',
    sbt: '\E04F',
    scala: '\E050',
    search: '\E051',
    settings: '\E052',
    shell: '\E053',
    slim: '\E054',
    smarty: '\E055',
    stylus: '\E056',
    svg: '\E057',
    swift: '\E058',
    terraform: '\E059',
    tex: '\E05A',
    time-cop: '\E05B',
    todo: '\E05C',
    twig: '\E05D',
    typescript: '\E05E',
    vala: '\E05F',
    video: '\E060',
    xml: '\E061',
    yml: '\E062',
);

@mixin icon ($icon) {
    content: map-get($icons, $icon);
}

.icon-apple:before {
    @include icon(apple);
}
.icon-audio:before {
    @include icon(audio);
}
.icon-bower:before {
    @include icon(bower);
}
.icon-c-sharp:before {
    @include icon(c-sharp);
}
.icon-c:before {
    @include icon(c);
}
.icon-cake_php:before {
    @include icon(cake_php);
}
.icon-checkbox-unchecked:before {
    @include icon(checkbox-unchecked);
}
.icon-checkbox:before {
    @include icon(checkbox);
}
.icon-cjsx:before {
    @include icon(cjsx);
}
.icon-clock:before {
    @include icon(clock);
}
.icon-coffee:before {
    @include icon(coffee);
}
.icon-coffee_erb:before {
    @include icon(coffee_erb);
}
.icon-coldfusion:before {
    @include icon(coldfusion);
}
.icon-config:before {
    @include icon(config);
}
.icon-cpp:before {
    @include icon(cpp);
}
.icon-css:before {
    @include icon(css);
}
.icon-csv:before {
    @include icon(csv);
}
.icon-default:before {
    @include icon(default);
}
.icon-deprecation-cop:before {
    @include icon(deprecation-cop);
}
.icon-docker:before {
    @include icon(docker);
}
.icon-editorconfig:before {
    @include icon(editorconfig);
}
.icon-ejs:before {
    @include icon(ejs);
}
.icon-elm:before {
    @include icon(elm);
}
.icon-error:before {
    @include icon(error);
}
.icon-favicon:before {
    @include icon(favicon);
}
.icon-folder:before {
    @include icon(folder);
}
.icon-font:before {
    @include icon(font);
}
.icon-git_folder:before {
    @include icon(git_folder);
}
.icon-git_ignore:before {
    @include icon(git_ignore);
}
.icon-github:before {
    @include icon(github);
}
.icon-go:before {
    @include icon(go);
}
.icon-go2:before {
    @include icon(go2);
}
.icon-gradle:before {
    @include icon(gradle);
}
.icon-grails:before {
    @include icon(grails);
}
.icon-grunt:before {
    @include icon(grunt);
}
.icon-gulp:before {
    @include icon(gulp);
}
.icon-hacklang:before {
    @include icon(hacklang);
}
.icon-haml:before {
    @include icon(haml);
}
.icon-haskell:before {
    @include icon(haskell);
}
.icon-heroku:before {
    @include icon(heroku);
}
.icon-html:before {
    @include icon(html);
}
.icon-html_erb:before {
    @include icon(html_erb);
}
.icon-ignored:before {
    @include icon(ignored);
}
.icon-illustrator:before {
    @include icon(illustrator);
}
.icon-image:before {
    @include icon(image);
}
.icon-info:before {
    @include icon(info);
}
.icon-ionic:before {
    @include icon(ionic);
}
.icon-jade:before {
    @include icon(jade);
}
.icon-java:before {
    @include icon(java);
}
.icon-javascript:before {
    @include icon(javascript);
}
.icon-js_erb:before {
    @include icon(js_erb);
}
.icon-json:before {
    @include icon(json);
}
.icon-julia:before {
    @include icon(julia);
}
.icon-karma:before {
    @include icon(karma);
}
.icon-less:before {
    @include icon(less);
}
.icon-license:before {
    @include icon(license);
}
.icon-liquid:before {
    @include icon(liquid);
}
.icon-livescript:before {
    @include icon(livescript);
}
.icon-lua:before {
    @include icon(lua);
}
.icon-markdown:before {
    @include icon(markdown);
}
.icon-mustache:before {
    @include icon(mustache);
}
.icon-new-file:before {
    @include icon(new-file);
}
.icon-npm:before {
    @include icon(npm);
}
.icon-npm_ignored:before {
    @include icon(npm_ignored);
}
.icon-ocaml:before {
    @include icon(ocaml);
}
.icon-pdf:before {
    @include icon(pdf);
}
.icon-perl:before {
    @include icon(perl);
}
.icon-photoshop:before {
    @include icon(photoshop);
}
.icon-php:before {
    @include icon(php);
}
.icon-project:before {
    @include icon(project);
}
.icon-pug:before {
    @include icon(pug);
}
.icon-puppet:before {
    @include icon(puppet);
}
.icon-python:before {
    @include icon(python);
}
.icon-rails:before {
    @include icon(rails);
}
.icon-react:before {
    @include icon(react);
}
.icon-ruby:before {
    @include icon(ruby);
}
.icon-rust:before {
    @include icon(rust);
}
.icon-sass:before {
    @include icon(sass);
}
.icon-sbt:before {
    @include icon(sbt);
}
.icon-scala:before {
    @include icon(scala);
}
.icon-search:before {
    @include icon(search);
}
.icon-settings:before {
    @include icon(settings);
}
.icon-shell:before {
    @include icon(shell);
}
.icon-slim:before {
    @include icon(slim);
}
.icon-smarty:before {
    @include icon(smarty);
}
.icon-stylus:before {
    @include icon(stylus);
}
.icon-svg:before {
    @include icon(svg);
}
.icon-swift:before {
    @include icon(swift);
}
.icon-terraform:before {
    @include icon(terraform);
}
.icon-tex:before {
    @include icon(tex);
}
.icon-time-cop:before {
    @include icon(time-cop);
}
.icon-todo:before {
    @include icon(todo);
}
.icon-twig:before {
    @include icon(twig);
}
.icon-typescript:before {
    @include icon(typescript);
}
.icon-vala:before {
    @include icon(vala);
}
.icon-video:before {
    @include icon(video);
}
.icon-xml:before {
    @include icon(xml);
}
.icon-yml:before {
    @include icon(yml);
}


.icon-bower:before,
.icon-grunt:before,
.icon-hacklang:before,
.icon-mustache:before,
.icon-ocaml:before,
.icon-slim:before,
.icon-swift:before,
.icon-xml:before,
.icon-html:before {
    color: color(orange);
}

.icon-illustrator:before,
.icon-coffeescript:before,
.icon-javascript:before,
.icon-ejs:before,
.icon-favicon:before,
.icon-json:before,
.icon-license:before,
.icon-smarty:before {
    color: color(yellow);
}

.icon-config:before,
.icon-vala:before,
.icon-clock:before,
.icon-rust:before {
    color: color(grey);
}

.icon-git:before,
.icon-apple:before,
.icon-default:before {
    color: color(white);
}

.icon-sass:before,
.icon-video:before,
.icon-latex:before {
    color: color(pink);
}

.icon-npm:before,
.icon-cake_php:before,
.icon-gulp:before,
.icon-haml:before,
.icon-jade:before,
.icon-java:before,
.icon-pdf:before,
.icon-ruby:before {
    color: color(red);
}

.icon-audio:before,
.icon-csv:before,
.icon-groovy:before,
.icon-karma:before,
.icon-liquid:before {
    color: color(green);
}

.icon-image:before,
.icon-php:before,
.icon-yml:before,
.icon-svg:before,
.icon-puppet:before,
.icon-haskell:before {
    color: color(purple);
}
