body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: color(white);
}

a {
    color: color(white);
    text-decoration: none;
}

pre, code {
    font-family: "Fira Code", Monaco, monospace;
}
