body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: color(white);
}

input, textarea {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
    color: color(white);
    text-decoration: none;
}
