.app {
    display: flex;
}

.app > .fuzzy-finder {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app > .tree-view {
    overflow: auto;
    width: 0;
}

.app > .workspace {
    width: 100%;
}

.app.tree-view-open {
    > .tree-view {
        overflow: unset;
        width: 13.75rem;
    }

    > .workspace {
        width: calc(100% - 13.75rem);
    }
}
