.app {
    display: flex;
}

.app > .tree-view {
    overflow: auto;
    width: 0;
}

.app > .workspace {
    width: 100%;
}

.app.tree-view-open {
    > .tree-view {
        overflow: unset;
        width: 13.75rem;
    }

    > .workspace {
        width: calc(100% - 13.75rem);
    }
}
