.tree-view__header {
    font-size: 1rem;
    padding-top: 2rem;
}

.node-item__link {
    display: block;
    line-height: 1.5;
    padding: 0 0.5rem;
}

.node-item__link:hover {
    background-color: #005f60;
}
