.node-item {
    display: inline;
}

.node-item__link:before {
    margin-right: 0.5rem;
}

.node-item__link {
    display: flex;
    align-items: center;

    font-size: .875rem;
}

.node-item__link--active {
    pointer-events: none;
}

.node-item__link--active,
.node-item__link:hover {
    background-color: #005f60;
}

.node-item__name {
    display: block;
}
