.tab-view {
}

.tab-list {
    display: flex;
    list-style: none;
}

.tab-item {
    font-size: 0.875rem;
    min-width: 12.5rem;
    position: relative;
}

.tab-item__close {
    transform: scale(0) translateY(-50%);
    transition: all 0.5s ease-in-out;
    transform-origin: top center;

    position: absolute;
    top: 50%;
    right: 0.75rem;
}

.tab-item--active .tab-item__close,
.tab-item:hover .tab-item__close {
    transform: scale(1) translateY(-50%);
}

.tab-item__link {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding-left: 1rem;
}

.tab-item--active .tab-item__link,
.tab-item__link:hover {
    background-color: #005f60;
}
